@import 'tailwindcss';
@source "../../../../libs/ui/**/*.{ts,tsx}";
:root {
  --color-primary: #f8f9fb;
  --color-primary-light: #ffffff;
  --color-primary-dark: #433e3a;
  --color-secondary: #f5f5f5;
  --color-base: #000000e0;
  --color-base-80: #00000073;
  --color-base-light: #000000a6;
  --color-base-dark: #000000;
  --color-accent: #eb6101;
  --color-neutral: #888a89;
  --color-neutral-light: #c0c0c0;
  --color-dust: #d9d9d9;
  --color-success: #1677ff;
  --color-success-light: #e6f4ff;
  --color-success-30: #91caff;
  --color-warning: #ff0003;
  --color-warning-light: #ff4d4f;
  --color-warning-dark: #ff26060f;
  --color-overlay: #00000040;
  --color-spectrum-bg: #f6ffed;
  --color-spectrum-border: #b7eb8f;
  --color-spectrum-text: #52c41a;
}

@theme {
  /* colors */
  --color-primary: var(--color-primary);
  --color-primary-light: var(--color-primary-light);
  --color-primary-dark: var(--color-primary-dark);
  --color-secondary: var(--color-secondary);
  --color-base: var(--color-base);
  --color-base-80: var(--color-base-80);
  --color-base-light: var(--color-base-light);
  --color-base-dark: var(--color-base-dark);
  --color-accent: var(--color-accent);
  --color-neutral: var(--color-neutral);
  --color-neutral-light: var(--color-neutral-light);
  --color-dust: var(--color-dust);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-warning-dark: var(--color-warning-dark);
  --color-warning-light: var(--color-warning-light);
  --color-overlay: var(--color-overlay);
  --color-success-light: var(--color-success-light);
  --color-success-30: var(--color-success-30);
  --color-spectrum-bg: var(--color-spectrum-bg);
  --color-spectrum-border: var(--color-spectrum-border);
  --color-spectrum-text: var(--color-spectrum-text);
  /* shadows */
  --shadow-primary: 0px 2px 0px 0px #0591ff1a;
  --shadow-primary-outline: 0px 2px 0px 0px #00000005;
  --shadow-secondary: 0px 2px 0px 0px #ff26060f;
  --shadow-warning: 0px 2px 0px 0px #ff26060f;

  /* fonts */
  --font-sf-pro: 'SF Pro Text', sans-serif;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  background-color: #fbfafa;
}

::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 12px;
}

body {
  font-family: var(--font-sf-pro), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
p,
a,
input,
textarea {
  margin: 0;
  font-family: var(--font-sf-pro), sans-serif;
}

/* ------------------- Custom styles for Ant Design Menu Items ----------------------------------------------------------------------- */

.custom_sider .ant-layout-sider-children {
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: start !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.custom_menu .ant-menu {
  border-radius: 3px;
}

.custom_menu .ant-menu-item {
  border-radius: 3px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: var(--color-base-dark);
  margin-inline: 0px !important;
  width: 100% !important;
  @apply font-sans;
}

/* Icon and text spacing */
.custom_menu .ant-menu-item .ant-menu-item-icon {
  margin-right: 0px !important;
}

/* Hover state */
.custom_menu .ant-menu-item:hover {
  background-color: var(--color-accent) !important;
  color: var(--color-primary-light) !important;
  font-weight: 700 !important;
  @apply font-sf-pro;
}

/* Selected/Active state */
.custom_menu .ant-menu-item-selected,
.custom_menu .ant-menu-item-active {
  background-color: var(--color-accent) !important;
  color: var(--color-primary-light) !important;
  font-weight: 700 !important;
  @apply font-sf-pro;
}

/* Override default ant-design styles */
.custom_menu .ant-menu-light .ant-menu-item-selected,
.custom_menu .ant-menu-light .ant-menu-item:hover {
  background-color: var(--color-accent) !important;
}

/* Remove default ant-design transitions and effects */
.custom_menu .ant-menu-light .ant-menu-item-selected::after,
.custom_menu .ant-menu-light .ant-menu-item:hover::after {
  display: none;
}
.custom_menu .anticon.anticon-down {
  display: none !important;
}

/* ------------------- Custom styles for Ant Design Form Items ----------------------------------------------------------------------- */

.custom_ant_form .ant-form-item .ant-form-item-label > label {
  @apply !w-[192px] !px-4  !border !border-dust !text-sm !font-[600] !font-sf-pro !text-base !bg-secondary;
}
.custom_form .ant-form-item .ant-form-item-explain-error {
  margin-bottom: 12px !important;
}

.custom_ant_form .ant-form-item {
  margin-bottom: 0px !important;
}

/* ------------------ Custom Styles For Ant Modal -------------------------------------------------------------------------------- */
.custom_modal .ant-modal-close:hover {
  background-color: transparent !important;
}

.custom_modal .ant-modal-header .ant-modal-close:hover,
.ant-modal .ant-modal-close:hover,
button.ant-modal-close:hover {
  background-color: transparent !important;
}

/* ------------------ Custom Styles For Ant Table -------------------------------------------------------------------------------- */
.ant-table-wrapper .ant-table-column-sorter {
  color: var(--color-base-80) !important;
}

