@import 'tailwindcss';
@source "../../../../libs/ui/**/*.{ts,tsx}";
:root {
  --color-primary: #f8f9fb;
  --color-primary-light: #ffffff;
  --color-primary-dark: #433e3a;
  --color-secondary: #f5f5f5;
  --color-base: #000000e0;
  --color-base-80: #00000073 --color-base-light: #000000a6;
  --color-base-dark: #000000;
  --color-accent: #eb6101;
  --color-neutral: #888a89;
  --color-dust: #d9d9d9;
  --color-success: #1677ff;
  --color-warning: #ff0003;
  --color-warning-dark: #ff26060f;
  --color-overlay: #00000040;
}

@theme {
  --color-primary: #f8f9fb;
  --color-primary-light: #ffffff --color-primary-dark: #433e3a;
  --color-secondary: #f5f5f5;
  --color-base: #000000e0;
  --color-base-80: #00000073 --color-base-light: #000000a6;
  --color-base-dark: #000000;
  --color-accent: #eb6101;
  --color-neutral: #888a89;
  --color-dust: #d9d9d9;
  --color-success: #1677ff;
  --color-warning: #ff0003;
  --color-warning-dark: #ff26060f;
  --color-overlay: #00000040;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  background-color: #fbfafa;
}

::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 12px;
}

body {
  font-family: var(--font-inter), var(--font-noto-sans-jp), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* ------------------- Custom styles for Ant Design Menu Items ----------------------------------------------------------------------- */

.custom_sider .ant-layout-sider-children {
  height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: start !important;
  justify-content: space-between !important;
  width: 100% !important;
}

.custom_menu .ant-menu {
  border-radius: 3px;
}

.custom_menu .ant-menu-item {
  border-radius: 3px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: var(--color-base-dark);
  @apply font-sans;
}

/* Icon and text spacing */
.custom_menu .ant-menu-item .ant-menu-item-icon {
  margin-right: 0px !important;
}

/* Hover state */
.custom_menu .ant-menu-item:hover {
  background-color: var(--color-accent) !important;
  color: var(--color-primary-light) !important;
  font-weight: 700 !important;
  @apply font-sans;
}

/* Selected/Active state */
.custom_menu .ant-menu-item-selected,
.custom_menu .ant-menu-item-active {
  background-color: var(--color-primary-20) !important;
  color: var(--color-primary-dark) !important;
  font-weight: 700 !important;
  @apply font-sans;
}

/* Override default ant-design styles */
.custom_menu .ant-menu-light .ant-menu-item-selected,
.custom_menu .ant-menu-light .ant-menu-item:hover {
  background-color: var(--color-accent) !important;
}

/* Remove default ant-design transitions and effects */
.custom_menu .ant-menu-light .ant-menu-item-selected::after,
.custom_menu .ant-menu-light .ant-menu-item:hover::after {
  display: none;
}
.custom_menu .anticon.anticon-down {
  display: none !important;
}

